<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>223496314173-sq3op1k9622rj21nmgd4063jiug5ahcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223496314173-sq3op1k9622rj21nmgd4063jiug5ahcd</string>
	<key>API_KEY</key>
	<string>AIzaSyB67WDXCtt8MRhdcYYG5laHzju5CKa0kB4</string>
	<key>GCM_SENDER_ID</key>
	<string>223496314173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockname.ArchitectureSampleWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>architecturesample-d0be2</string>
	<key>STORAGE_BUCKET</key>
	<string>architecturesample-d0be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223496314173:ios:84c0d3c0780e0355</string>
	<key>DATABASE_URL</key>
	<string>https://architecturesample-d0be2.firebaseio.com</string>
</dict>
</plist>